<div>
    <a class="item" href="/">
        <img src="img/logo.png">
    </a>
    <a ui-sref="login" ui-sref-active="active" class="item" >
        Login
    </a>
    <div class="item">
        <div class="active header">MechWarrior</div>
        <div class="menu">
            <a ui-sref="news" ui-sref-active="active" class="item">
                News
            </a>
            <a ui-sref="events" ui-sref-active="active" class="item">
                Events
            </a>
        </div>
    </div>
    <div class="item">
        <div class="active header">World of Warships</div>
        <div class="menu">
            <a ui-sref="news" ui-sref-active="active" class="item">
                News
            </a>
            <a ui-sref="events" ui-sref-active="active" class="item">
                Events
            </a>
        </div>
    </div>
    <div class="item">
        <div class="active header">Star Citizen</div>
        <div class="menu">
            <a ui-sref="news" ui-sref-active="active" class="item">
                News
            </a>
            <a ui-sref="events" ui-sref-active="active" class="item">
                Events
            </a>
        </div>
    </div>
</div>